
// fix scss template
.form-control{
    padding-left: 20px !important;
}
.form-switch .form-check-input:checked{
    border-color: #ff6400;
    background-color: #ff6400;
}

// iconos en general
.icon{
    &:hover{
        color: #ff6400;
    }
}
div.btn > i:active {
    color: #ff6400;
}

a.nav-link.icon.active svg path {
    fill: #ffffff;
  }

