
// fix scss template
.form-control{
    padding-left: 20px !important;
}
.form-switch .form-check-input:checked{
    border-color: #ff6400;
    background-color: #ff6400;
}

// iconos en general
.icon{

    &-del:hover{
        color: #ff0000 !important;
    }
    &-view:hover{
        color: #01953f !important;
    }
    &-edit:hover{
        color: #0097e8 !important;
    }
    &:hover{
        color: #ff6400 !important;
    }
}
div.btn > i:active {
    color: #ff6400;
}

a.nav-link.icon.active svg path {
    fill: #ffffff;
  }



.primary-btn-disabled{

    &-light{
        pointer-events: none;
        opacity: .5;
        background-color: rgb(255, 200, 120);
        color: black;
    }
    &-dark{
        pointer-events: none;
        opacity: .5;
        background-color: #fe300f;
        color: white;

    }
}

.form{
    &-title{
        font-family: 'Raleway' !important;
        font-weight: 500 !important;
        text-transform: uppercase;
    }
}

input{
    &.is-warning{
        border-color: #e4ad14;
        padding-right: unset;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffc012' class='bi bi-exclamation-triangle-fll flex-shrink-0 me-2' viewBox='0 0 16 16' role='img' aria-label='Warning:'%3e%3cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem 1rem;
    }
    &.is-alert{
        border-color: #23cfe2ff;
        padding-right: unset;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cfe2ff'%3e%3cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem 1rem;
    }
}
// estilos texto en inputs
.text-nospace {
    white-space: nowrap;
}
.text-upper {
    text-transform: uppercase;
    &-nospace {
        text-transform: uppercase;
        white-space: nowrap;
    }
}
.text-lower {
    text-transform: lowercase;
    &-nospace {
        text-transform: lowercase;
        white-space: nowrap;
    }
}



// PLACEHOLDER DE BUSQUEDAS
.search-input{
    &::placeholder {
        text-align: center;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 20px;
        content: '\f002';
        font-family: 'Font Awesome 5 Free';
    }
    &:focus::placeholder {
        color: transparent;
    }
}


.input-group {
    position: relative;

    .form-control {
        padding-right: 4rem;
    }

    .input-group-append {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;

        .input-group-text {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        }
    }
}




//


// lo que quiero es que right: 0; sea igual al tamaño de .input-group-append


.emoji{
    font-family: "Noto Color Emoji", sans-serif !important;

    &-flag {
        font-family: "Noto Color Emoji", sans-serif !important;
        font-size: 12px;
    }
}

span.select2.select2-container.select2-container--default.select2-container--below{
    width: 100% !important;
}
.select2{
    &-container{

        &--default{
            .select2-results__option{
                &--selected {
                    background-color: #ddd;
                    font-weight: bold;
                }
                &--highlighted{
                    &.select2-results__option--selectable {
                        background-color: #0097e8;
                        color: white
                    }
                }
            }
        }
        .select2-selection{
            &--single, &--multiple {
                height: 3em !important;
                display: block !important;
                width: 100% !important;
                padding: 0.5rem 0.75rem !important;
                font-size: 0.875rem !important;
                font-weight: 400 !important;
                line-height: 1.4rem !important;
                color: #495057 !important;
                background-color: #fff !important;
                background-clip: padding-box !important;
                border: 1px solid #d2d6da !important;
                -webkit-appearance: none !important;
                -moz-appearance: none !important;
                appearance: none !important;
                border-radius: 0.5rem !important;
                transition: box-shadow 0.15s ease, border-color 0.15s ease !important;
            }
        }
    }
    &-search--dropdown .select2-search__field {
        padding: 4px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 0.3rem !important;
    }

    &-dropdown {
        background-color: white;
        border: 1px solid #d2d6da !important;
        border-radius: 4px;
        box-sizing: border-box;
        display: block;
        position: absolute;
        left: -100000px;
        width: 100%;
        z-index: 1051
    }

}


.dropdown-toggle-no-caret{
    &:after{
        content: none !important
    }
    &:before{
        content: none !important
    }
}







/* Estilos para los radio buttons primario o no en formularios */
.star-primary {
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
    color: #545454;
}

.star-primary input {
    display: none;
}

.star-primary input + label {
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23545454' d='M12.3,17.7l4.3,2.5c0.7,0.4,1.6-0.1,1.5-0.9l-0.8-5.1l3.5-3.8c0.6-0.7,0.3-1.8-0.6-1.9l-5-0.8L13.2,3   c-0.3-0.7-1.4-0.7-1.7,0l-2.2,4.8l-5,0.8c-0.9,0.1-1.2,1.2-0.6,1.9l3.5,3.8l-0.8,5.1C10.7,17.6,11.6,18.1,12.3,17.7z'%3E%3C/path%3E%3C/svg%3E");
    background-size: contain;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    cursor: pointer;
    color: #545454;
}

.star-primary input:checked + label {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23FF6400' d='M12.3,17.7l4.3,2.5c0.7,0.4,1.6-0.1,1.5-0.9l-0.8-5.1l3.5-3.8c0.6-0.7,0.3-1.8-0.6-1.9l-5-0.8L13.2,3   c-0.3-0.7-1.4-0.7-1.7,0l-2.2,4.8l-5,0.8c-0.9,0.1-1.2,1.2-0.6,1.9l3.5,3.8l-0.8,5.1C10.7,17.6,11.6,18.1,12.3,17.7z'%3E%3C/path%3E%3C/svg%3E");
    color: #ff6400;
}



// estilos intl-tel-input
.input-group.intl-tel{
    .iti.iti--allow-dropdown{
        width: 91% !important;
    }
    input.form-control{
        height: 100% !important;
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
