
// fix scss template
.form-control{
    padding-left: 20px !important;
}
.form-switch .form-check-input:checked{
    border-color: #ff6400;
    background-color: #ff6400;
}

// iconos en general
.icon{

    &-del:hover{
        color: #ff0000 !important;
    }
    &-view:hover{
        color: #01953f !important;
    }
    &-edit:hover{
        color: #0097e8 !important;
    }
    &:hover{
        color: #ff6400 !important;
    }
}
div.btn > i:active {
    color: #ff6400;
}

a.nav-link.icon.active svg path {
    fill: #ffffff;
  }



.primary-btn-disabled{

    &-light{
        pointer-events: none;
        opacity: .5;
        background-color: rgb(255, 200, 120);
        color: black;
    }
    &-dark{
        pointer-events: none;
        opacity: .5;
        background-color: #fe300f;
        color: white;

    }
}

.form{
    &-title{
        font-family: 'Raleway' !important;
        font-weight: 500 !important;
        text-transform: uppercase;
    }
}

input{
    &.is-warning{
        border-color: #e4ad14;
        padding-right: unset;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='%23ffc012' class='bi bi-exclamation-triangle-fll flex-shrink-0 me-2' viewBox='0 0 16 16' role='img' aria-label='Warning:'%3e%3cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem 1rem;
    }
    &.is-alert{
        border-color: #23cfe2ff;
        padding-right: unset;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23cfe2ff'%3e%3cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 1rem 1rem;
    }
}
